<section class="details-page">
  <h1>Details</h1>
  <article class="details-card">

    <article class="details-card-text">
      <h2>Title:<br /> {{post.title}}</h2>
      <h3>Author: {{post.author}}</h3>
      <h3>Stars: {{post.stars}}</h3>
      <h3>Genre: {{post.genre}}</h3>
      <h3>Review:
        {{post.review}}
      </h3>

      {{#if post.hasUser}}
        <!-- If there is no registered user, do not display buttons-->
        <div class="buttons">
          <!-- Only for registered user and author of the review -->
          {{#if post.isOwner}}
            <a href="/edit/{{post._id}}" class="btn-edit">Edit</a>
            <a href="/delete/{{post._id}}" class="btn-delete">Delete</a>
          {{else}}
            {{#if post.hasWished}}
              <p class="wish-pub">You already added the book to your wish list</p>
            {{else}}
              <!-- logged in user who has not yet wished book-->
              <a href="/wish/{{post._id}}" class="btn-wish">Wish to read</a>
              <!-- logged in user who has already wished book-->
            {{/if}}
          {{/if}}
        </div>
      {{/if}}
    </article>

    <article class="details-card-image">
      <img src="/static/image/Game-of-thrones.jpg" />
    </article>

  </article>
</section>